body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.nav-wrapper {
  text-align: center;

}
.page-footer {
  text-align: center;
  height: 60px;
  line-height: 60px;
  padding: 0px;
}

i {
  cursor: pointer;
}

.buttons {
  display: inline-block;
  position: relative;
  color:  #ee6e73;
  height: 50px;
  line-height: 50px;
  padding: 5px;
  margin: 0px 0px 20px;
 

}

.buttons{
margin: 0px;
float: right;
}

.buttons span {
  display: inline-block;
  height: 50px;
  margin-right: 15px;
}

.buttons label{
  display: inline-block;
margin: 5px;
font-size: 50px;
line-height: 50px;
} 

.buttons span i {
  font-size: 40px;
}

.inputField #search {
  padding: 0px;
  margin: 0px;
  display: inline-block;
  width: 95%;
  height: 1em;
  border-bottom: 1px solid #ee6e73;
  font-size: 3em;
  color: #ee6e73;
}

.inputField {
  display: inline-block;
  width: 80%;
  height:50px;
}

.inputField i{
  font-size: 50px;
  line-height: 50px;
  color: #ee6e73
}

.userStats {
    text-align: right;
    margin: 10px;
}

.lastRefresh span {
  float: right;
  right: 60px;
  margin-right:40px; 
}

.userStats span {
margin: 0px 10px;
}

.collection-item.reddish {
  background-color: #ffebee; 
}

.noUser {
text-align:center;
font-size: 32px;
height: 800px;
padding: 300px 0px;
color: grey;
}

.noUser i {
  font-size: 48px;
  color: grey;
}

.noUser i:hover {
  transform: rotate(360deg);
  transition: 1s;
}


.card.reddish {
  background-color: #ffebee; 
}
.sk-cube-grid {
  width: 200px;
  height: 200px;
  margin: 200px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #ee6e73;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

.card-content{
  overflow: hidden;
}

.col {
  min-width: 300px;
}